/*!
 * Dayfox Theme
 * Based on the theme structure of Hugo Blox
 */

:root {
  /* Primary Colors */
  --color-primary: #396847;
  --color-primary-rgb: 57, 104, 71;
  --color-primary-darker: #2d5239;
  --color-primary-darkest: #1f3a27;
  
  /* Secondary Colors */
  --color-secondary: #2848a9;
  --color-secondary-rgb: 40, 72, 169;
  --color-secondary-darker: #203a87;
  --color-secondary-darkest: #182c65;
  
  /* Tertiary Colors */
  --color-tertiary: #AC5402;
  --color-tertiary-rgb: 172, 84, 2;
  --color-tertiary-darker: #8a4302;
  --color-tertiary-darkest: #683201;
  
  /* Greys */
  --color-grey: #f6f2ee;
  --color-grey-100: #f9f7f5;
  --color-grey-200: #f2ebe4;
  --color-grey-300: #eae2da;
  --color-grey-400: #e1d9d0;
  --color-grey-500: #d8cfc6;
  --color-grey-600: #c9bfb3;
  --color-grey-700: #b9afa3;
  --color-grey-800: #a99f93;
  --color-grey-900: #998f83;
  
  /* Theme-specific variables */
  --color-dark: #3d2b5a;
  --color-dark-high: #302b5d;
  --color-light: #f2e9e1;
  --color-light-low: #e4dcd4;
  --color-text: #3d2b5a;
  --color-text-inverse: #f6f2ee;
  --color-bg: #f6f2ee;
  --color-bg-panel: #e4dcd4;
  --color-border: #aab0ad;
  
  /* Menu and Navigation */
  --color-menu-primary: #f6f2ee;
  --color-menu-text: #3d2b5a;
  --color-menu-text-hover: #2848a9;
  --color-menu-text-active: #2848a9;
  --color-menu-title: #396847;
  
  /* Navigation */
  --color-nav-link: #3d2b5a;
  --color-nav-link-hover: #2848a9;
  --color-nav-link-active: #2848a9;
  
  /* Links */
  --color-link: #2848a9;
  --color-link-hover: #396847;
  
  /* Code & Pre */
  --color-code: #AC5402;
  --color-code-bg: #ebe4da;
  
  /* Alert Colors */
  --color-alert-note: #396847;
  --color-alert-note-bg: #e6f4f6;
  --color-alert-note-border: #bfe1e6;
  --color-alert-tip: #396847;
  --color-alert-tip-bg: #e6f4f6;
  --color-alert-tip-border: #bfe1e6;
  --color-alert-important: #8a5700;
  --color-alert-important-bg: #ffebcc;
  --color-alert-important-border: #ffd499;
  --color-alert-warning: #AC5402;
  --color-alert-warning-bg: #ffe0cc;
  --color-alert-warning-border: #ffcfb3;
  --color-alert-caution: #a60000;
  --color-alert-caution-bg: #ffcccc;
  --color-alert-caution-border: #ff9999;
}